/*color: #24890D;*/

* {
	font-family: Lato;
}

.navtopfix {
	background-color: black;
	padding: 0px;
	margin: 0;
}

.navtopfix a {
	color: white!important;
}

.Home {
	color: #24890D;
}

.search {
	background-color: #24890D;
}

.Home:hover {
	background-color: #24890D;
	color: white;
}

.navtopfix li:hover {
	background-color: #24890D;
}

.search li:hover {
	background-color: #41A62A;
}

.image {
	padding: 50px;
}

.img {
	padding: 0!important;
}