/*color: #24890D;*/

* {
	font-family: Lato;
}

.navtopfix {
	background-color: black;
	padding: 0px;
	margin: 0;
}

.navtopfix a {
	color: white!important;
}

.Home {
	color: #24890D;
}

.search {
	background-color: #24890D;
}

.Home:hover {
	background-color: #24890D;
	color: white;
}

.navtopfix li:hover {
	background-color: #24890D;
}

.search li:hover {
	background-color: #41A62A;
}

.image {
	margin-top: 45px;
}

.img {
	padding: 0!important;
}

.img p, h3 {
	padding-left: 5px;
	color: white;
}

.img a {
	text-decoration: none
}

.img p {
	font-size: 12px;
}

.img h3 {
	font-size: 18px;
}

.image img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1
}

.textimg {
	margin-top: 190px;
	position: relative;
	background-color: black;
	height: 110px;
}

.img2 {
	height: 300px;
}

.img h3:hover, .img p:hover {
	color: #24890D;
}